@tailwind base;
@tailwind components;
@tailwind utilities;


/* base styles */
body {
  background: #ebf0fa;
  @apply text-gray-500  w-full h-full;
}
h1, h2 {
  @apply font-bold text-primary text-lg;
}
.sub-h{

  text-shadow: #fff 0px 1px;
  color:#483FD3;
  @apply text-2xl;
}

.sub-h{

  text-shadow: #fff 0px 1px;
  color:#483FD3;
  @apply text-2xl;
}
.sub-h2{

  text-shadow: #fff 0px 1px;
  color:#483FD3;
  @apply text-lg
 
}

.no-shadows{
  text-shadow: none;
}

.text-amber{
  @apply text-amber-900
}

main {
  
  @apply max-w-7xl my-12 mx-auto px-8;
}
main > h2 {
  @apply mb-4 pb-2 text-base ;
}
p > a {
  @apply text-primary underline;
}

/* nav styles */
nav {
  @apply
    pb-4
    border-b-2 border-gray-200
    flex items-center 
    my-10 mx-auto 
    max-w-5xl;
}
nav a, nav span {
  @apply text-gray-500;
}
nav a:hover {
  @apply text-black bg-pink-300;
}
main nav {
  @apply border-0;
}

/* button styles */
button {
  @apply 
    px-3 py-2 
    rounded-sm 
    flex justify-between items-center gap-2
    text-sm;
}
button:hover {
  @apply bg-opacity-90;
}
.btn-primary {
  @apply bg-primary text-white;
}
.btn-secondary {
  @apply bg-gray-200 text-gray-900;
}

/* form styles */
form {
  @apply 
    py-4 px-7 
    bg-primary 
    bg-opacity-5 
    rounded-md 
    block 
    mx-auto 
    min-w-fit w-1/4;
}
form label {
  @apply block;
}
form input,
form textarea,
form select {
  @apply 
    block 
    mt-2 my-4 px-2 py-1 
    rounded-sm w-full;
}
form button {
  @apply block mx-auto;
}

/* feedback styles */
.error {
  @apply 
    border-2 
    border-red-500 
    bg-red-300
    text-red-800 
    py-1 px-2 
    rounded-sm
    block
    max-w-fit
    my-4 mx-auto;
}

/* card styles */
.card-default {
  margin: 0 auto;
  width:70%;
  @apply 
    bg-violet-500
    
    shadow-sm 
    rounded-md 
    py-7 px-10 my-4 
    relative 
    overflow-hidden;
}
.card-default h3 {
  @apply 
    font-bold text-gray-700 text-sm 
    mb-0;
}
.card-default p {
  @apply my-4 text-sm leading-6;
}

/* pill styles */
.pill {
  @apply 
    py-1 px-2 mt-3
    inline-block 
    text-xs font-semibold;
}
.pill.high {
  @apply bg-red-300 text-red-600;
}
.pill.medium {
  @apply bg-blue-300 text-blue-600;
}
.pill.low {
  @apply bg-emerald-300 text-emerald-600;
}
.card .pill {
  @apply 
    absolute bottom-0 right-0 
    rounded-tl-md;
}

/*Text shadow styles*/
.white-text-shadow{
  text-shadow: 0 0 5px #FFFFFF;

}

.white-text-shadow-hard{
  text-shadow: 0 0 2px #FFFFFF, 0 0 2px #FFFFFF, 0 0 2px #FFFFFF;

}

.division-cell{
  transition: background-color 0.2s;
  padding:0.7rem;
  border-left: white 4px ridge;
  transition-timing-function: ease-in;
  color:#F0C1E1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight:700;
  margin-right: 0rem;
  overflow: hidden;
}
.font-style-navbar{
  color:#F0C1E1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  animation: text-slide 1.5s ease-in-out;
  font-weight:700;
}
.font-style-navbar:hover{
  color:#000000;
}
@keyframes text-slide{
  from {
    margin-left: -100%;

    width: 300%;
  }
  to{
    margin-left: 0%;

    width: 100%;
  }
}



/*Cube start*/

#cubeContainer {
  position: relative;
   width: 100px;
   height: 100px;
   margin: 50px auto;
   perspective: 1600px;
}

#boxDiv {
   width: 100px;
   transform-style: preserve-3d;
   animation: rotate 15s linear infinite;
}

#boxDiv div {
   position: absolute;
   width: 100px;
   height: 100px;
   opacity: 1.0;
   color: white;
}

#front {
   transform: translateZ(50px);
   background-image: url("../public/facebook.gif");
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;

}


#back {
   transform: rotateY(180deg) translateZ(50px);
   background: #101010;
   background-image: url("../public/Youtube.gif");
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
}

#left {

   transform: rotateY(-90deg) translateX(-50px);
   transform-origin: left;
   background: #14194a;
   background-image: url("../public/Twitter.gif");
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
}

#right {
   transform: rotateY(90deg) translateX(50px);
   transform-origin: right;
   background: #14194a;
   background-image: url("../public/Email.gif");
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

#top {
   transform: rotateX(-90deg) translateY(-50px);
   transform-origin: top;
   background: black;
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

#bottom {
   transform: rotateX(90deg) translateY(50px);
   transform-origin: bottom;
   background: #101010;
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

@keyframes rotate {
   0% { transform: rotateY(0); }
   100% { transform: rotateY(360deg); }
}
.footer-link:hover{
  color:#FFFFFF;

}
.intro-text{
  @apply text-violet-50;
}

.shadow {


   width:50px;
   height:50px;
   background: rgba(0,0,0,0.5);
   box-shadow: 0 0 50px 50px rgba(0,0,0,0.5);
   -webkit-transform: rotateX(90deg) translateZ(-75px) rotateY(180deg) translateX(0px);

}
/*Cube end*/


/*Card designs
*/

body {
  background-color: black;
}

.container {
  width: 1200px !important;
  padding: 0 !important;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 992px) and (max-width: 1439px) {
    max-width: 1279px !important;
    padding: 0 !important;
    margin: 0 80px !important;
    width: auto !important;
  }

  @media screen and (max-width: 991px) {
    max-width: 959px !important;
    margin: 0 16px !important;
    padding: 0 !important;
    width: auto !important;
  }
}

.gradient-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 32px;
  padding: 30px;
  @media screen and (max-width: 991px) {
    grid-template-columns: 1fr;
  }
}

.container-title {
  text-align: center;
  padding: 0 !important;
  margin-bottom: 40px;
  font-size: 40px;
  color: #fff;
  font-weight: 600;
  line-height: 60px;
}

.card {
  max-width: 550px;
  border: 0;
  width: 100%;
  margin-inline: auto;
}

.container-card {
  position: relative;
  border: 2px solid transparent;
  background: linear-gradient(71deg, #20246B, #1a171c, #080509);
  background-clip: padding-box;
  border-radius: 45px;
  padding: 40px;
  img {
    margin-bottom: 32px;
  }
}

.bg-green-box,
.bg-white-box,
.bg-yellow-box,
.bg-blue-box {
  position: relative;
}

.bg-green-box::after,
.bg-white-box::after,
.bg-yellow-box::after,
.bg-blue-box::after {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  content: "";
  z-index: -1;
  border-radius: 45px;
}

.bg-green-box::after {
  background: linear-gradient(71deg, #0d1212, #3da077, #0d1212);
}

.bg-white-box::after {
  background: linear-gradient(71deg, #121013, #b0afb0, #121013);
}

.bg-yellow-box::after {
  background: linear-gradient(71deg, #110e0e, #afa220, #110e0e);
}

.bg-blue-box::after {
  background: linear-gradient(71deg, #0c0a0e, #5f6fad, #0c0a0e);
}

.card-title {
  font-weight: 600;
  color: white;
  letter-spacing: -0.02em;
  line-height: 40px;
  font-style: normal;
  font-size: 28px;
  padding-bottom: 8px;
}

.card-description {
  font-weight: 600;
  line-height: 32px;
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 16px;
  max-width: 470px;
}
